<<<<<<< HEAD
div{
    background-color:rgb(138, 94, 142);
    color:rgb(179, 240, 240);
}
body{
    background-color: beige;
=======
div{
    background-color:rgb(138, 94, 142);
    color:rgb(179, 240, 240);
}
body{
    background-color: beige;
>>>>>>> 98aa554400a5acd5d531289881dfb34ef03fa789
}